/* Write your CSS code here */
.list-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.nc {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.images {
  height: 150px;
  width: 180px;
  margin-right: 10px;
}
.avatar {
  height: 25px;
  width: 25px;
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 10px;
}
.topic {
  color: #8e8e8e;
  font-weight: 'Roboto';
  font-size: 15px;
}
.title {
  font-family: 'Roboto';
  font-size: 20px;
  color: #000000;
}
.avatar-con {
  display: flex;
  flex-direction: row;
}
