.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}
.first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile {
  height: 100px;
  width: 100px;
}
.name {
  font-family: 'Roboto';
  font-weight: 600;
  color: #551e53;
  font-size: 25px;
}
.description {
  color: #8e8e8e;
  margin-top: 0;
}
